In [2]:
import pandas as pd

df = {
    'detik': pd.read_csv('../data/detik.csv'),
    'kompas': pd.read_csv('../data/kompas.csv'),
    'okezone': pd.read_csv('../data/okezone.csv'),
    'sindonews': pd.read_csv('../data/sindonews.csv'),
    'tempo': pd.read_csv('../data/tempo.csv'),
    'tribunnews': pd.read_csv('../data/tribunnews.csv'),
}

In [4]:
dfc = pd.concat(df, ignore_index=True)
dfc

               date                                           headline
0        2022-01-01  Jalur Telaga Sarangan Magetan Macet 2 KM, Semu...
1        2022-01-01  Penampakan Antrean Kendaraan di Gerbang Tol Ci...
2        2022-01-01  Modus Jadi Penumpang Taksi Online, Perampok di...
3        2022-01-01  Polisi Luruskan Kakek yang Dibunuh di Luwu Buk...
4        2022-01-01  Jalur Telaga Sarangan Magetan Macet hingga 2 K...
...             ...                                                ...
1198330  2022-12-05  Cara Tak Biasa Kylian Mbappe Jaga Fokus di Pia...
1198331  2022-12-05  Live Streaming SCTV, Inggris vs Senegal di Pia...
1198332  2022-12-05  Fakta Hasil Prancis vs Polandia di Piala Dunia...
1198333  2022-12-05  Cerita Seorang Ibu Gendong Dua Anak dan Bawa D...
1198334  2022-12-05  Hasil Prancis vs Polandia 3-1, Mbappe Menggila...

[1198335 rows x 2 columns]

In [ ]:
dfc.to_csv('../data/all.csv', index=False)